/* --- Style --- */
html {
    background: url('../images/tokyo-maksim.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    height: 100%;
}

.navbar-default {
    background-color: #212a3f;
    border-color: #434f5b;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f2f2f2;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #434f5b;
    background-color: #ffffff;
}

.navbar-default .navbar-nav .active > a,
.navbar-default .navbar-nav .active > a:hover,
.navbar-default .navbar-nav .active > a:focus {
    color: #ffffff;
    background-color: #434f5b;
}

.navbar-default .navbar-nav .open > a,
.navbar-default .navbar-nav .open > a:hover,
.navbar-default .navbar-nav .open > a:focus {
    color: #f2f2f2;
    background-color: #434f5b;
}

.navbar-default .navbar-nav .open > a .caret,
.navbar-default .navbar-nav .open > a:hover .caret,
.navbar-default .navbar-nav .open > a:focus .caret {
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
}

.navbar-default .navbar-toggle {
    border-color: #434f5b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #434f5b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.clear {
    float: none !important;
    clear: both !important;;
}

span.spacing {
    display: block;
    height: 20px;
}

div.center {
    text-align: center;
}

div.outer {
    width: 100%;
    text-align: center;
}

div.inner {
    display: inline-block;
}

div.center div {
    display: inline-block;
}

#navigation {
    font-size: 0.89em;
    text-transform: uppercase;
    box-shadow: 0px 2px 3px #434f5b;
}


/* Responsive header: logo and name alignment */
#navigation .navbar-brand {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 1.1;
    height: auto;
    padding: 10px 0;
}
#navigation .navbar-brand img {
    width: 77px;
    height: 77px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    flex-shrink: 0;
}
#navigation .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
#navigation .navbar-nav > li > a {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 0 18px;
    height: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    #navigation .navbar-brand {
        font-size: 1.4rem;
        gap: 10px;
    }
    #navigation .navbar-brand img {
        width: 54px;
        height: 54px;
    }
    #navigation .navbar-nav > li > a {
        font-size: 1rem;
        height: 70px;
        line-height: 70px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    /* Make header a flex container and push hamburger to the right */
    #navigation .navbar-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 0;
    }
    #navigation .navbar-brand {
        order: 1;
        font-size: 1.1rem;
        gap: 8px;
    }
    #navigation .navbar-toggle {
        order: 2;
        margin-left: auto;
        float: none; /* override bootstrap default */
    }
    #navigation .navbar-brand img {
        width: 40px;
        height: 40px;
        margin: 0 8px 0 0;
    }
    #navigation .navbar-nav > li > a {
        font-size: 0.98rem;
        height: 48px;
        line-height: 48px;
        padding: 0 6px;
    }
    #navigation .navbar-nav {
        float: none;
        text-align: left;
    }
    #navigation .navbar-collapse {
        background: #212a3f;
        box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    }
}

@media (max-width: 480px) {
    #navigation .navbar-brand {
        font-size: 0.98rem;
        gap: 6px;
    }
    #navigation .navbar-brand img {
        width: 32px;
        height: 32px;
    }
    #navigation .navbar-nav > li > a {
        font-size: 0.92rem;
        height: 38px;
        line-height: 38px;
        padding: 0 3px;
    }
}

#container {
    /* Page sections */
    margin-top: 100px;
}

#container .colored-box {
    background-color: rgba(33, 42, 63, 0.8);
    border-radius: 5px;
    border: 1px solid #999999;
    color: #ffffff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    position: relative;
}

#container .input-group.contact-icons span {
    text-align: center;
}

#container .input-group.contact-icons p {
    margin: 10px 0px 0px 0px !important;
}

#container .input-group.contact-icons a:link, #container .input-group.contact-icons a:visited {
    color: #FFFFFF;
}

#container .input-group.contact-icons img {
    width: 50px;
}

#container .input-group-addon.light-blue {
    background-color: #434F5B;
    color: #FFFFFF;
}

#container .input-group-addon.gray {
    /* background-color: #F2F2F2; */
    color: #434F5B;
}

#container .margin-between div {
    margin: 10px 10px;
}

#container .input-group-static-width1 {
    width: 130px !important;
    text-align: left;
}

#container .input-group-static-width2 {
    width: 350px !important;
    text-align: left;
}

#container .input-group-addon.gray a:link, #container .input-group-addon.gray a:visited {
    color: #434F5B;
}

#container .panel-heading {
    color: #ffffff;
    background-color: #434f5b;
}

#container .list-group-item {
    color: #434f5b;
}

#container .padding {
    padding: 15px;
}

#container .list-group-item .active {
    background-color: #2e2e2e;
}

#container h2.title {
    margin: 20px auto 20px 10px;
}

#container .big-text {
    padding: 30px;
    font-size: 35px;
    line-height: 35px;
}

#container .normal-text {
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
}

/* Refresh slogan button */
.refresh-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(67, 79, 91, 0.85); /* matches palette */
    color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
.refresh-btn:hover {
    background: #212a3f;
    transform: rotate(90deg);
}
.refresh-btn:active {
    transform: rotate(180deg) scale(0.95);
}
.refresh-btn i {
    font-size: 16px;
}
.refresh-btn.spinning i {
    animation: spin 0.6s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#container #home {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
    background-color: transparent;
}

/* Mobile phones */
@media (max-width: 767px) {
    .navbar-collapse {
        min-height: 720px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f2f2f2;
        background-color: #434f5b;
    }

    #container .small-top-margin {
        margin-top: 20px;
    }

    #container .top-element {
        margin-top: 0px;
    }

    #container .between-section {
        padding: 0px;
    }

    #container .panel {
        margin-top: 20px;
    }

    #container .bigText {
        padding: 30px;
        font-size: 25px;
        line-height: 25px;
    }

    #container .normalText {
        padding: 30px;
        font-size: 14px;
        line-height: 25px;
    }

    .responsive-container {
        text-align: center;
    }

    .responsive-container img {
        height: 250px;
        width: auto;
    }

    #container .input-group-static-width1 {
        min-width: 150px !important;
        text-align: left;
    }

    #container .input-group-static-width2 {
        font-size: 0.7em;
        min-width: 150px !important;
        text-align: left;
    }

    div.calendar {
        width: 300px;
    }

    div.js-calendar-graph.is-graph-loading.graph-canvas.calendar-graph.height-full {
        display: none !important;
    }
}

@media (max-width: 550px) {
    #container .input-group-addon.gray {
        display: none;
    }
}

/* Move navbar elements to the right on desktops */
@media (min-width: 767px) {
    #container .small-top-margin {
        margin-top: 120px;
    }

    #container .top-element {
        margin-top: 0px;

    }

    #navigation .navbar-collapse ul {
        float: right;
    }

    #container .between-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .responsive-container img {
        height: 100%;
        width: 100%;
    }
}
